<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AA1AutoescuelaAndroid"
        android:usesCleartextTraffic="true" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="xxxxxxxx"/>
        <activity
            android:name=".view.DetailCocheView"
            android:exported="false" />
        <activity
            android:name=".view.DetailAutoescuelaView"
            android:exported="false" />
        <activity
            android:name=".view.CocheListView"
            android:exported="false" />
        <activity
            android:name=".view.ModifyAutoescuelaView"
            android:exported="false" />
        <activity
            android:name=".view.RegisterCocheView"
            android:exported="false" />
        <activity
            android:name=".view.RegisterAutoescuelaView"
            android:exported="false" />
        <activity
            android:name=".view.CochesAutoescuelaView"
            android:exported="false" />
        <activity
            android:name=".view.ModifyCocheView"
            android:exported="false" />
        <activity
            android:name=".view.AutoescuelaListView"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>